<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projeto de Extensão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Projeto de Extensão: Saúde e Bem-Estar para Todos</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('parts_involved_page') }}">Partes Envolvidas</a></li>
            <li><a href="{{ url_for('add_activity') }}">Adicionar Atividade</a></li>
            <li><a href="{{ url_for('view_activities') }}">Ver Atividades</a></li>
        </ul>
    </nav>
</body>
</html>